:root  {
    --mainorange : rgb(255, 81, 47);
    --mainWhite : #fff;
    --mainDark : #222;
    --mainGrey : #ece8dc;
}
* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
body {
    background : var(--mainWhite);
    color : var(--mainDark);
    font-family : Verdana, Geneva, Tahoma, sans-serif ! important;

}

.text-orange {
    color : var(--mainorange)
}

.cart-icon {
    cursor : pointer;
    color : var(--mainorange);
    font-size : 1.8rem;
    margin-top : 0.5rem;
}
.default-background {
    min-height : 100vh;
    display : flex;
    align-items: center;
    justify-content: center;
    background-repeat : no-repeat;
    background-size : cover;
    background-position : center 
}

.btn-orange {
    color : var(--mainorange);
    border-color : var(--mainorange);
}

.btn-orange:hover {
    background : var(--mainorange);
    color :var(--mainWhite);
}
