:root  {
    --mainorange : #FF512F;
    --mainWhite : #fff;
    --mainDark : #222;
    --mainGrey : #ece8dc;
}

body {
    background : var(--mainWhite);
    color : var(--mainDark);
    font-family : Verdana, Geneva, Tahoma, sans-serif ! important;

}

.text-orange {
    color : var(--mainorange)
}

.cart-icon {
    cursor : pointer;
    color : var(--mainorange);
    font-size : 1.8rem;
    margin-top : 0.5rem;
}

